body{
    font-family: Arial, sans-serif;
    background-color:palevioletred;
    margin: 0;
    padding: 0;
}
h1,p{
    color: palevioletred;
    text-align: left;
    padding: 20px;
}
.container{
    background-color: white;
    margin-bottom: 10px;

}
button{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: palevioletred;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content; 
}
.souvenir {
    display: flex; /* Active le mode Flexbox */
    justify-content: center; /* Aligne horizontalement (center, space-between, space-around) */
    align-items: center; /* Aligne verticalement */
    gap: 20px; /* Ajoute de l'espace entre les photos */
    flex-wrap: wrap; /* Permet de passer à la ligne si l'écran est trop petit */
  }
img{
    
    width: 200px;
}

/* Media query pour les écrans de petite taille (téléphones) */
@media (max-width: 600px) {
    .souvenir {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; /* Empile les images verticalement */
      justify-content: flex-start; /* Aligne les images à gauche */
      
    }
    img {
      width: 48%; /* Les images prennent toute la largeur de l'écran */
      box-sizing: border-box;
    /*  max-width: 300px; Limite la largeur maximale des images */
      margin-bottom: 10px;

    }
  }

