body{
    font-family: Arial, sans-serif;
    background-color:palevioletred;
    margin: 0;
    padding: 0;
}
h1,p{
    color: palevioletred;
    text-align: left;
    padding: 20px;
}
.container{
    background-color: white;

}
button{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: palevioletred;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
}

